<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_PREFIX</key>
	<string>CH</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.numerics.workbench.internal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>Eurosti.TTF</string>
		<string>Eurostib.TTF</string>
		<string>Eurostile-Bla.otf</string>
		<string>Eurostile-Blalta.otf</string>
		<string>Eurostile-Bol.otf</string>
		<string>Eurostile-BolObl.otf</string>
		<string>Eurostile-Hea.otf</string>
		<string>Eurostile-Healta.otf</string>
		<string>Eurostile-Med.otf</string>
		<string>Eurostile-Medlta_0.otf</string>
		<string>Eurostile-RegObl_0.otf</string>
		<string>EurostileCon-Hea.otf</string>
		<string>EurostileCon-Healta_0.otf</string>
		<string>EurostileCon-Reg_0.otf</string>
		<string>EurostileCon-Reglta_0.otf</string>
		<string>EurostileExt-Bla.otf</string>
		<string>EurostileExt-Blalta.otf</string>
		<string>EurostileExt-Med.otf</string>
		<string>EurostileExt-Reg.otf</string>
		<string>Eurostile.ttf</string>
		<string>EurostileBold.ttf</string>
		<string>ClvTextBook_106_jd.ttf</string>
		<string>ClvTextBold_106_jd.ttf</string>
		<string>ClvTextLight_106_jd.ttf</string>
		<string>ClvTextMedium_106_jd.ttf</string>
		<string>ClvTextMedium_Italic_106_jd.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
